@import "../nodebb-theme-harmony/theme";

.categories-list, .topics-list{
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: #fff;
    & > li{
        
        padding-left: 15px;
        padding-right: 15px;
        
    }
}
.main-categories-list {
    .main-categories-list-title{
        padding: 10px 15px;
        border-radius: 3px 3px 0 0;
        .main-categories-ico{
            position: relative;
            width: 44px;
            height: 28px;
            .icon{
                position: absolute;
                bottom: 0;
            }
        }
    }
    & > li{

        & + li{
            margin-top:30px;
        }
    }
}
//
.page-topic .topic .posts.timeline > [component=post]:first-child:before, .page-topic .topic .posts.timeline .timeline-event:first-child:before, .page-topic .topic .posts.timeline > [component="post/placeholder"]:first-child:before{
    transform: translate(calc(-150% - 0.5px), -50%);
}
.page-topic .topic .posts.timeline > [component=post]:last-child:after, .page-topic .topic .posts.timeline .timeline-event:last-child:after, .page-topic .topic .posts.timeline > [component="post/placeholder"]:last-child:after {
    transform: translate(calc(-150% - 0.5px), 50%);
}
//input
.form-select,.form-control{
    background-color: #fff;
}
//sidebar
.sidebar{
    @media (min-width: 992px){
        &.sidebar-left.open {
            min-width: 300px;
            max-width: 300px;
            width: 300px;
            background-color: #2b333e!important;
            color: #fff!important;
            min-height: calc(100vh - 48px);
            #main-nav{
                position: sticky;
                top: 57px;
            }
        }
        .special a.nav-link {
            
            padding: 15px 10px;
            .nav-text{
                font-weight: 700;
                font-size: 1.3rem;
            }
        }
        .titlemenu a {
            cursor: default;
            display: block;
            color: #4aa3ff!important;
            font-size: 1.6rem;
            text-transform: uppercase;
            margin-top: 20px;
            .fa{
                display: none;;
            }
        }
        
        
    }
    .nav-link {
        @media (min-width: 992px){
            display: block;
            padding: 10px;
            font-size: 1.3rem;
            color: #e5e9ea;
            border-bottom: 1px solid rgba(229,233,234,.05);
        }
        &.active {
            background: none;
            color: inherit;
        }
    }
    .nav-btn:hover {
       // background-color: #e3e4e5;
        color: var(--bs-primary);
    }
}
//header 
.connect-top-header{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99999;
    left: 0;
    right: 0;
    min-height: 48px;
    box-shadow: 0 1px #00000017;
    .top-mobile-links{
        justify-self: center;
        display: flex;
        flex: 1;
        align-self: center;
        font-size: 13px;
        padding: 0 10px;
        margin: 0;
        gap: 5px;
        justify-content: flex-end;
        min-height: 44px;
        align-items: center;
        li{
            a{
                line-height: 44px;
                padding:0 5px;
                font-weight: 700;
            }
            @media (min-width: 600px){
            border-left:1px solid #eee;
            }
        }
        @media (min-width: 992px){
            display: none;
        }
    }
    .brand-container-connect{
        [component="brand/logo"]{
            max-width: 100%;
            padding: 5px;
        }
            justify-content: center;
            background: #3781d6;
            flex:0 0 100px;
        @media (min-width: 600px){
            flex:0 0 300px;
            
        
        }
    }
    .search{
        .input-group{
            border: 2px solid #bec0c2;
            border-radius: 5px;
            .btn, .form-control{
                background: #fff;
                box-shadow: none;
                border: 0;
            }
        }
        .quick-search-container{
           
                position: absolute;
                left: 5px;
                right: 5px;
                top: 40px;
                border: 1px solid #eee;
                background: #fff;
                padding: 5px;
                font-size: 12px;
                border-radius:0 0 5px 5px;
                margin-top:0;
                box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }
    }
}
//.post-container {
.page-topic .topic .posts.timeline > [component=post]{
    padding: 5px 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-left: 0;
    border-left: 0 none;
    & + [component=post]{
        margin-top:15px;
    }

    & > div:first-of-type{
        margin-left:0;
    }

    .post-footer.border-bottom{
        border-bottom:0 none!important;
        margin-left: 0;
        [component="post/reply-count"]{
            background: #eeeff1;
            border:0 none;
        }
    }
    [component="post/actions"]{
        opacity: 1;
        border-top:1px solid #eee;
        margin-top: 10px;
        padding-top: 10px;
        .btn{
            box-shadow:0 none;
            border: 1px solid #eee;
            color: rgba(0,0,0,.7);
            &:active,&:hover{
                color:rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
            }
            &.btn-vote{
                border-radius: 50%;
                line-height: 35px;
                padding: 0;
                height: 35px;
                width: 35px;
                border:0 none;
                
                background: #eeeff1;
                &:active,&:hover{
                    color:rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
                }
            }
        }
        .votes{
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #eee;
        }
    }
}
.topic .pagination-block .scroller-container {
    border-left: 2px solid #c9cacc;
}
//search
.page-search{
.search-results{
    .topic-title{
       display: block;
    }
    .posts-list-item {
        padding: 5px 15px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        margin-left: 0;
        margin-bottom: 15px;
        border-left: 0 none;
    }
}
}
//cover gruppi e profilo 
.groups.details, .account{
    @media (min-width: 768px) {
        margin-top:20px!important;
        .cover {
            position: static!important;
        }
    }

}
//composer
@media (max-width: 575.98px){
html.composing .composer {
    margin-top: 40px;
    height: calc(100% - 40px)!important;
}
}
//bottombar mob
.skin-noskin .bottombar-nav {
    border-top: 1px solid #bec0c2;
    transition: background 350ms linear;
    .titlemenu a {
        cursor: default;
        display: block;
        color: #666!important;
        text-transform: uppercase;
        margin-top: 20px;
        .nav-text {
            color: #c6c6c6;
        }
        .fa{
            display: none;;
        }
    }
    &:has(.show) {
        background: #3781d6!important;
        color: #fff!important;
    }
}
body:has(.bottombar-nav .show) #panel {
    filter: blur(2px) saturate(0.3);
}