@import "../nodebb-theme-harmony/theme";
.categories-list, .topics-list{
    & > li{
        background: #fff;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.main-categories-list {
    & > li{

        & + li{
            margin-top:30px;
        }
    }
}
